/* Root */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Zen Dots", cursive;
}
#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
/* Container */
#app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    max-width: 640px;
    min-width: 580px;
    height: 50vh;
    max-height: 640px;
    min-height: 545px;
    border: black dashed 5px;
}
#app-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 3em;
}

/* Timer length Controls */
#timer-length-controls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.length-title {
    font-size: 1.8em;
    text-align: center;
}
.decinc-btn-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}
.decinc-btn-child {
    display: flex;
    font-size: 2rem;
    cursor: -moz-pointer;
    cursor: -webkit-pointer;
    cursor: pointer;
    background: none;
    border: 3px solid transparent;
    padding: 2px;
    border-radius: 100%;
    transition: 0.3s;
}
#break-decrement:hover,
#break-increment:hover,
#session-decrement:hover,
#session-increment:hover {
    border: black solid 3px;
    transform: scale(1.1);
}
.length-id {
    font-size: 3rem;
}
/* Timer Display */
#timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 80%;
}
#timer-display-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 280px;
    max-width: 300px;
    height: 280px;
    max-height: 300px;
    border: black dashed 5px;
}
#timer-div {
    position: absolute;
    background: transparent;
    border-radius: 50%;
    width: inherit;
    max-width: 300px;
    height: inherit;
    max-height: 300px;
    box-shadow: 0 0 0 0 rgb(172, 0, 0);
    transform: scale(1);
    animation: pulse 1s infinite;
    animation-delay: 1s;
}
@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
    70% {
        transform: scale(1.05);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}
#timer-label {
    font-size: 2em;
}
#time-left {
    font-size: 3.5rem;
}
/* Timer Controls - Play/Pause Reset */
#timer-control-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
}
.timer-btn-control {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5em;
    cursor: -moz-pointer;
    cursor: -webkit-pointer;
    cursor: pointer;
    background: none;
    border: none;
}
#reset {
    font-size: 4rem;
}
#start_stop {
    padding: 5px;
}
#reset,
#start_stop {
    border: 3px solid transparent;
    border-radius: 100%;
    transition: 0.3s;
}
#reset:hover,
#start_stop:hover {
    border: 3px solid black;
}
.reset-btn-icon {
    transition: 0.5s;
    transform: rotate(0deg);
}
.reset-btn-icon:hover {
    transform: rotate(360deg);
}
.label-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
}
@media (max-width: 590px) {
    /* Container */
    #app-container {
        width: 90vw;
        max-width: 590px;
        min-width: 350px;
        height: 90vh;
        max-height: 100vh;
        min-height: 650px;
    }
    #app-header {
        font-size: 2em;
    }
    /* Timer length Controls */
    #timer-length-controls {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    .length-title {
        font-size: 1.5em;
        width: 100%;
    }
    .length-controller {
        width: 100%;
    }
    .decinc-btn-container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
    }
}
