* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
#app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
}
#timer-length-controls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.length-title {
    text-align: center;
}
.btn-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
