* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Zen Dots", cursive;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
#app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    max-width: 640px;
    height: 50vh;
    max-height: 640px;
    border: black dashed 5px;
}
#app-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    font-size: 3em;
}
#timer-length-controls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-grow: 1;
}
.length-title {
    font-size: 1.8em;
    text-align: center;
}
.decinc-btn-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 8;
    width: 100%;
}
#timer-display-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    flex-grow: 3;
    width: 45%;
}
#timer-div {
    position: absolute;
    background: transparent;
    border-radius: 50%;
    width: 280px;
    height: 280px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: pulse 1s infinite;
    animation-delay: 1s;
}

@keyframes pulse {
    0% {
        transform: scale(0.98);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
    100% {
        transform: scale(0.98);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}
#timer-label {
    font-size: 2em;
}
#time-left {
    font-size: 4rem;
}
#timer-control-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
    width: 40%;
}
.timer-btn-control {
    display: flex;
    font-size: 3.5em;
    cursor: -moz-pointer;
    cursor: -webkit-pointer;
    cursor: pointer;
    background: none;
    border: none;
}
#reset {
    transition: 0.5s;
    transform: rotate(0deg);
}

#reset:hover {
    transform: rotate(180deg);
}

.decinc-btn-child {
    display: flex;
    font-size: 2rem;
    cursor: -moz-pointer;
    cursor: -webkit-pointer;
    cursor: pointer;
    background: none;
    border: none;
}
.length-id {
    font-size: 3rem;
}

.label-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
}
