* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Zen Dots", cursive;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
#app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    max-width: 640px;
    height: 50vh;
    max-height: 640px;
    border: black dashed 5px;
}
#app-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    font-size: 3em;
}
#timer-length-controls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-grow: 1;
}
.length-title {
    font-size: 1.8em;
    text-align: center;
}
.decinc-btn-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 8;
    width: 100%;
}
#timer-display-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: black 5px dashed;
    border-radius: 100%;
    flex-grow: 3;
    width: 300px;
    height: 100px;
}
#timer-label {
    font-size: 2em;
}
#time-left {
    font-size: 4rem;
}
#timer-control-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
    width: 40%;
}
.timer-btn-control {
    display: flex;
    font-size: 3.5em;
    cursor: -moz-pointer;
    cursor: -webkit-pointer;
    cursor: pointer;
    background: none;
    border: none;
}
.decinc-btn-child {
    display: flex;
    font-size: 2rem;
    cursor: -moz-pointer;
    cursor: -webkit-pointer;
    cursor: pointer;
    background: none;
    border: none;
}
/* #break-decrement:hover,
#session-decrement:hover {
    transform: translateY(5px);
}
#break-increment:hover,
#session-increment:hover {
    transform: translateY(-5px);
} */
.length-id {
    font-size: 3rem;
}

.label-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
}
